/**
 * _autocomplete.css
 */

.input-search {
  width: 100%;
}

.list-results {
  background: white;
  border: thin solid #ccc;
  border-top: none;
  border-bottom: none;
  left: 4%;
  margin-bottom: 50px;
  position: absolute;
  width: 92%;
  z-index: 5;
}

.list-results i {
  display: none;
}

.list-results li {
  border-bottom: thin solid #ccc;
}

.list-results a {
  display: block;
  padding: 1em;
}

.result-name {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.list-results a:hover,
.list-results a:focus,
.list-results .result-active {
  background: #efefef;
}

.list-results a:hover .result-name,
.list-results a:focus .result-name,
.result-active .result-name {
  font-weight: bold;
  padding-left: 5px;
}

.result-location {
  margin-left: 2px;
}

.form-search {
  position: relative;
}

.article-sample {
  color: #ccc;
  font-size: 2em;
  font-family: times;
  line-height: 1.2em;
  margin-top: 25px;
  filter: blur(5px);
  text-align: justify;
  -webkit-filter: blur(5px);
}