/**
 * _base.css
 */

* {
  box-sizing: border-box;
}

body {
  font-family: arial;
  color: #555;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  border-bottom: thin solid #ccc;
  padding: 0.4em 0;
}

.container {
  margin: 0 auto;
  max-width: 95%;
  width: 500px;
}

.container-article-sample {
  padding-bottom: 100px;
  width: 700px;
}

small {
  color: #ccc;
  font-size: 0.8em;
}

.hidden {
  display: none;
}

input[type="text"] {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: #555;
  font-size: 14px;
  line-height: 1.5;
  outline: none;
  padding: 6px 15px;
}