/**
 * _themes_menu.css
 */

.container-themes {
  text-align: center;
  padding: 100px 0 0;
}

.list-themes {
  margin-bottom: 25px;
}

.container-themes li {
  display: inline-block;
}

.container-themes a {
  cursor: pointer;
  display: block;
  margin: 0 0.5em;
  padding: 0.8em 0.4em;
  text-transform: uppercase;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}

.container-themes a:hover,
.container-themes a:focus {
  border-bottom: 2px solid #ccc;
  color: #ccc;
}

.theme-active a:hover,
.theme-active a:focus,
.theme-active a {
  border-bottom: 3px solid #3498db;
  color: #555;
  font-weight: bold;
}