/**
 * _autocomplete.scss
 */

.list-results {
  margin-bottom: 50px;
  position: absolute;
  z-index: 5;

  a {
    display: block;
  }
}

.form-search {
  position: relative;
}

.container-num-results {
  line-height: 1.3em;
  min-height: 1.3em;
  text-align: right;
}