/**
 * _autocomplete.scss
 */

%result-selected {
  color: red; // TODO;
}

.list-results {
  margin-bottom: 50px;
  position: absolute;
  z-index: 5;

  .result-selected a {
    @extend %result-selected;
  }

  a {
    display: block;
    &:active {
      @extend %result-selected;
    }
  }
}

.form-search {
  position: relative;
}