/**
 * _autocomplete-theme-0.scss
 */

 $med-teal: #6D7F83;
 $light-teal: #99B2B7;
 $padding-top-search: 6px;
 $padding-left-search: 15px;
 $width-input-search: 92%;

.theme-0 {

  .container-num-results {
    font-style: italic;
    padding-right: 20px;
  }

  .input-search-container {
    height: 40px;
    &::after {
      content: '';
      clear: both;
    }
  }

  .input-search,
  .link-search {
    border: thin solid #ccc;
    display: inline-block;
    float: left;
    height: 100%;
    padding-top: $padding-top-search;
    padding-bottom: $padding-top-search;
  }  

  .input-search {
    border-radius: 20px 0 0 20px;
    border-right: 0;
    padding-left: $padding-left-search;
    padding-right: 0;
    width: $width-input-search;

    &:active ~ .link-search,
    &:focus ~ .link-search  {
      color: $light-teal;
    }
  }

  .link-search {
    border-radius: 0 20px 20px 0;
    border-left: 0;
    -moz-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    font-size: 1.2em;
    text-align: center;
    width: 100 - $width-input-search;
  }

  .list-results {
    background: white;
    border: thin solid #ccc;
    border-top: none;
    border-bottom: none;
    left: 4%;
    width: 92%;

    li {
      border-bottom: thin solid #ccc;
    }

    a {
      padding: 1em;
    }
  }

  .result {
    position: relative;
    -moz-transition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }

  .result-location {
    margin-left: 2px;
  }

  .result-active {
    background: #efefef;

    .result-name {
      display: inline-block; //TODO
      position: relative;
      &::after {
        content: attr(data-name);
        left: 0;
        position: absolute;
        top: 0;
        -moz-transition: opacity 0.9s ease, -moz-transform 0.6s ease;
        -webkit-transition: opacity 0.9s ease, -webkit-transform 0.6s ease;
        transition: opacity 0.9s ease, transform 0.6s ease;
        z-index: -1; // "hide" it to avoid weird blur on original text
      }
    }
  }

  .result-selected {
    a {
      color: $light-teal;
      position: relative;
    }
    .result-name::after {
      opacity: 0;
      -moz-transform: scale(1.15);
      -webkit-transform: scale(1.15);
      transform: scale(1.15);
      z-index: 2;
    }
  }
}