
/**
 * _autocomplete-theme-0.scss
 */

%result-selected {
  color: #6D7F83;
}

.theme-0 {

  .input-search-container {
    position: relative;
    &::after {
      @include font-awesome-icon("\f002", 1.5em);
      color: #ccc;
      position: absolute;
      right: 9px;
      top: 3px;
    }
  }

  .input-search {
    border-radius: 20px;
    padding-right: 35px; // Buffer for search icon
  }

  .list-results {
    background: white;
    border: thin solid #ccc;
    border-top: none;
    border-bottom: none;
    left: 4%;
    width: 92%;

    li {
      border-bottom: thin solid #ccc;
    }

    a {
      padding: 1em;

      &:active {
        @extend %result-selected;
      }
    }

    .result-selected a {
      @extend %result-selected;
    }
  }

  .result {
    position: relative;
    -moz-transition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }

  .result-location {
    margin-left: 2px;
  }

  .result-active {
    background: #efefef;

    .result-name {
      font-weight: bold;
    }
  }
}