/**
 * _autocomplete-theme-1.scss
 *
 * Palette: http://www.colourlovers.com/palette/77121/Good_Friends
 */

 $light-tan: #D9CEB2;
 $dark-tan: #948C75;
 $faint-green: #D5DED9;
 $brown: #7A6A53;
 $light-teal: #99B2B7;
 $med-teal: #6D7F83;

 $icon-caret: "\f138";

 $border-width: 1em;
 $margin-hz-result: 1em;
 $width-result-name: 70%;

.theme-1 {
  font-family: 'Droid Serif', Georgia, Times, serif;

  small {
    color: $faint-green;
  }

  .container-num-results {
    padding-right: $border-width + $margin-hz-result;
  }

  .input-search-container {
    background: $light-teal;
    display: inline-block;
    padding: 1em 1em 0;
    width: 100%;
  }

  .input-search {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid $med-teal;
    color: white;
    font-family: 'Droid Serif', Georgia, Times, serif;
    font-size: 1em;
    line-height: 1.2em;
    padding: 0 0 0.25em;
    
    @include input-placeholder {
      color: $med-teal;
    }
  }

  .link-search {
    display: none;
  }

  .list-results {
    background: $dark-tan;
    border: $border-width solid $light-teal;
    border-top: 0;
    color: white;
    left: 0;
    width: 100%;

    &:not(:empty) {
      @include box-shadow(0 10px 6px -6px #777);
    }

    li {
      border-bottom: none;
      &:last-of-type a {
        border-bottom: 0;
      }
    }

    a {
      border-bottom: thin dashed $light-teal;
      padding: 1em 0;
      margin-left: $margin-hz-result;
      margin-right: $margin-hz-result;
    }
  }

  .result-name {
    @include transition(color 0.3s);
    font-family: 'Droid Sans', Georgia, Times, serif;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: $width-result-name;

    &::after {
      @include font-awesome-icon($icon-caret);
      @include transition(opacity 0.3s, transform 0.3s);
      @include transform(translateX(-5px) rotate(-15deg));
      opacity: 0;
    }
  }

  .result-location {
    font-size: 0.8em;
    margin-left: -0.4em; // inline-block spacing fix :'(
    text-align: right;
    width: 100 - $width-result-name;
  }

  .result-active {
    color: $light-tan;

    .result-name::after {
      @include transform(translateX(0px) rotate(0));
      opacity: 1;
    }
  }

  .result-selected {
    .result-name::after {
      @include transform(translateX(10px) rotate(360deg));
    }
  }

  .result-name,
  .result-location {
    display: inline-block;
    vertical-align: middle;

    @media (max-width: 500px) {
      display: block;
      text-align: left;
      width: 100%;
    }
  }
}