/**
 * _base.scss
 */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: arial;
  color: #555;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 95%;
  width: 500px;
}

.hidden {
  display: none;
}

input[type=text] {
  border: 1px solid #ccc;
  background-color: white;
  background-image: none;
  color: #555;
  font-size: 14px;
  padding: 6px 15px;
  margin: 0;
  outline: none;
  width: 100%;
}