/**
 * _typography.scss
 */

body {
  font: 400 16px/1.36em 'Lato', Arial, sans-serif;
}

p {
  margin-bottom: 1.5em;
}

small {
  color: #ccc;
  font-size: 0.8em;
}

@mixin font-awesome-icon($content, $font-size: 'inherit') {
  content: $content;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: $font-size;
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}