<!DOCTYPE html>
<html>
	<head>
		<title>Autocomplete - Niche Recruiting Reviews - Niche</title>		
		<link rel="stylesheet" href="css/main.css"/>
	</head>

	<body>
		<div class="container container-results">
		</div>

		<div class="container">
			<form>
				<input class="input input-search" placeholder="search term..." />
			</form>
		</div>
		
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/JSONPUtil.js"></script>
		<script type="text/javascript" src="js/constants.js"></script>
		<script type="text/javascript" src="js/microtemplate.js"></script>
		<script type="text/javascript" src="js/searchWidget.js"></script>
		<script type="text/javascript" src="js/autoCompleteUtils.js"></script>

		<script type="text/html" id="tmpl_searchResult">
		    <li>
		    	<a href="<%= url %>">
		    		<%= name %>
		    	</a>
	    	</li>
		</script>
	</body>

</html>