<!DOCTYPE html>
<html>
	<head>
		<title>Autocomplete - Niche Recruiting Reviews - Niche</title>		
		<link rel="stylesheet" href="css/main.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Droid+Serif|Droid+Sans' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<header>
			<h1>Niche Autocomplete Challenge</h1>
		</header>

		<div class="container container-themes">
			<ul class="list list-themes">
				<li class="theme-active" data-theme="0">
					<a>Theme 0</a>
				</li>
				<li data-theme="1">
					<a>Theme 1</a>
				</li>
			</ul>
			<p>
				Switching themes triggers a swap of the theme class on the autocomplete's outermost container.
			</p>
		</div><!-- .container-themes -->

		<div class="container alert alert-error error-search hidden"></div>

		<div class="container container-autocomplete theme-0">
			<form class="form form-search">
				<div class="input-search-container">
					<input type="text" class="input input-search" placeholder="Start your search here" />
				</div>
				<ul class="list list-results"></ul>
			</form>
		</div><!-- .container-autocomplete -->

		<div class="container container-article-sample">
			<article class="article article-sample">
				<p>Bacon ipsum dolor amet t-bone frankfurter swine beef, shankle short ribs pork belly turkey picanha. Doner spare ribs meatball turducken cow cupim. Pork belly pork chop pancetta, fatback ham hock.</p>
				<p>Turducken tail brisket ribeye ground round. Frankfurter venison cow leberkas landjaeger ham hock alcatra ham. Tri-tip pork chop drumstick kielbasa, prosciutto jowl bresaola shoulder biltong flank tail landjaeger ground round ham hock chucks.</p>
			</article>
		</div>
		
		<script src="http://requirejs.org/docs/release/2.1.20/minified/require.js" data-main="js/app"></script>

		<script type="text/html" id="tmpl_searchResult">
		    <li data-result-id="<%= id %>" data-name="<%= name %>">
		    	<a href="<%= url %>">
		    		<span class="result-name">
		    			<%= name %>
		    			<i class="fa fa-chevron-circle-right"></i>
		    		</span>
		    		<% if (location !== 'null') { %>
			    		<small class="result-location"><%= location %></small>
		    		<% } %>
		    	</a>
	    	</li>
		</script>
	</body>

</html>