<!DOCTYPE html>
<html>
	<head>
		<title>Autocomplete - Niche Recruiting Reviews - Niche</title>		
		<link rel="stylesheet" href="css/main.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	</head>

	<body>

		<div class="container">
			<div class="alert alert-error error-search hidden"></div>

			<form class="form form-search">
				<p class="search-tip hidden">
					<small>You can use the up/down arrow keys to navigate results, or hit enter to select one.</small>
				</p>
				<input type="text" class="input input-search" placeholder="Start your search here" />
				<!-- <i class="fa fa-search"></i> -->
			</form>

			<ul class="list list-results"></ul>
		</div><!-- .container -->
		
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/JSONPUtil.js"></script>
		<script type="text/javascript" src="js/constants.js"></script>
		<script type="text/javascript" src="js/libs/microtemplate.js"></script>
		<script type="text/javascript" src="js/libs/tinyPubSub.js"></script>
		<script type="text/javascript" src="js/searchWidget.js"></script>
		<script type="text/javascript" src="js/searchActions.js"></script>
		<script type="text/javascript" src="js/searchTipUIUpdater.js"></script>
		<script type="text/javascript" src="js/searchResultsUIUpdater.js"></script>

		<script type="text/html" id="tmpl_searchResult">
		    <li data-result-id="<%= id %>">
		    	<a href="<%= url %>">
		    		<span class="result-name"><%= name %></span>
		    		<small class="result-location"><%= location %></small>
		    	</a>
	    	</li>
		</script>
	</body>

</html>